@using task_1.Models;


@model List<Game_Catagories>

<ul style="display:flex; justify-content:space-between; background-color:rgba(0, 0, 0, 0.45);padding:30px;">
	@foreach (var item in Model)
	{
		<li style="color:white;font-size:50px;">
			@item.Id @item.Name <br>
			<a href="/home/index"><img height="400" width="400" src="@item.Photo" style="object-fit:contain;border-radius:50%;"></a>
		</li>
	}
</ul>